.accordion__item h3 img {
  position:absolute;right:15px;width:20px;transform:rotate(180deg)}
.accordion__item .accordion__body p {padding-left:10px}
  .accordion__item h3 {cursor:pointer}

    .accordion__item .accordion__title{outline:0}
