.react-autosuggest__container {
  vertical-align:top;
  margin-left:10px;
  margin-right:10px;
  display:inline-block;
  position:relative;
  flex:1
}


.react-autosuggest__input {
  min-height: 30px;
  text-indent: 10px;
  border:0px;
  border-radius:5px;
  outline:0;
  width:100%
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.react-autosuggest__container .react-autosuggest__suggestions-container--open {
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top: none;
  color:rgb(68, 68, 68);
  margin-left:-1px;
  position: absolute;
  margin-top:.2px;
    z-index: 999;
}
.react-autosuggest__suggestions-list{
  margin-top:0px;

  padding-left:0px;
  margin-bottom:0px;
  list-style-type:none

}
.react-autosuggest__suggestions-list li{
  cursor:pointer
}
.react-autosuggest__suggestions-list li img{
  width:35px;
  display: inline-block;
position:relative
}
.react-autosuggest__suggestions-list li .search-info em{
font-size:12px
}
.react-autosuggest__suggestions-list li .search-info{
vertical-align:top;
padding:0px;
padding-left:10px;
display: inline-block;
width: 70%
}
.react-autosuggest__suggestions-list li div{
  padding:5px;
}
.react-autosuggest__suggestions-list li:hover{
  background-color:#B2D7FF;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.bm-menu-wrap{
  left:-10px;
  top:0px;
  overflow:hidden
}
/* Position and sizing of burger button */
.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 25px;
  top: 10px;
  margin-right:5px;

}
.bm-burger-button button {
  left:15px!important;
  width:45px!important
}
.user-name{
  color:#bdc3c7;
  display:inline-block;
  vertical-align: top;
margin-left: 10px;
}
.user-info{
  text-align: left;
    border-bottom: 1px solid #f1f1f1;
    padding-left:24px;
    padding-top:20px;
    background:rgb(63, 81, 181)
}
.menu-item{
  color:black;
  display:block;
  padding:5px;
  text-align:left;
  border:0;
  background:none;
  font-size:20px;
  text-decoration:none;
  cursor:pointer
}
.menu-links{text-align:left;list-style:none;padding-left:0px}
.menu-links li img{width:22px;margin-right: 10px;margin-left:18px}
.menu-links li span{vertical-align:text-top;font-size:16px}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  font-size: 1.15em;
  overflow: hidden!important;
  box-shadow:rgba(50, 50, 50, 0.45) -3px 0px 14px 0px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top:0px;
  left:0px
}
